body {
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: peachpuff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.about-me, .skills, .projects {
    max-width: 800px;
    margin: 20px auto;
}

h2 {
    color: red;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: burlywood;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer {
    background-color: peachpuff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 20px; 
    height: 20px;
    border-radius: 50%;
}



